.home_container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_content {
  text-align: center;
  margin-top: -10rem;
}

.home_container img {
  width: 25rem;
  height: auto;
  margin-top: 2rem;
}
