.name_title_container {
  text-align: center;
  margin-top: 3rem;
}

.input_names_container {
  margin-top: 2rem;
}

.input_names_container input {
  display: block;
  margin: 15px auto;
}

.names_container {
  width: 80%;
  margin: auto;
  margin-top: 5rem;
}

.name_item {
  text-align: center;
  padding: 1rem;
}
